@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "vazir";
    src: url("fonts/Vazirmatn-Medium.ttf") format("truetype");
}

.font-custom {
    font-family: "vazir", sans-serif;
}
.custom-bg-color-1 {
    background-color: #111827;
}
.custom-bg-color-2 {
    background-color: #374151;
}
.custom-bg-color-3 {
    background-color: #1f2937;
}
.custom-bg-color-4 {
    background-color: #f56646;
}
